<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!-- breadcums -->
        <app-breadcrumbs></app-breadcrumbs>
         <!-- Sistema de Rutas-->
                         <!-- ============================================================== -->
                  <!-- Start Page Content -->
                  <!-- ============================================================== -->
                  <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               <!--  Lugare disponible para publicidad.-->
                               <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
  
               <!-- ============================================================== -->
              <!-- footer -->
              <!-- ============================================================== -->
              <footer class="footer">
                © 2022 Pagina de control y administracion de ventas Distribuidora Libertador Bolivar
                Quito-Ecuador
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
  
      </div>
    </div>
  
  </div>
